@model List<EFinzynierka.Models.EmployeeModel>
@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Monthly" asp-action="Index" method="get">
    <label>Wybierz pracownika</label>
        
        <select>
       @foreach (var item in Model)
        {
            <option value="@item.IdEmployee">@item.Surname)</option>
        }
    </select>
    <input type="submit" value="Submit" asp-action="GetPartial" />
</form>