<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EFinzynierka.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
    <header>
        @*Header*@
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <a class="navbar-brand"> ECP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    @*Sprawdzenie czy użytkownik jest zalogowany - jeśli tak to aplikacja udostępni wszystkie moduły, jeżeli nie to użytkownik zostanie poproszony o zalogowanie*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link">
                                Zalogowany jako: @User.Identity.Name
                            </a>
                        </li>
     
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="RFID" asp-action="ChooseEmployee">Logi RFID</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="EmployeeSummary" asp-action="GetEmployeeSummary">Raporty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-action="LogRFIDCard" asp-controller="RFID">Rejestracja czasu pracy</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-controller="Employee" asp-action="Index" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Użytkownicy i grafik
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="Index">Lista pracownikow</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="Create">Dodaj pracownikow</a>
                            </div>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="SignOut">Wyloguj sie</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Zaloguj sie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Utworz konto</a>
                        </li>

                    }

                </ul>
            </div>

        </nav>
    </header>
    @*Ciało główne - kontener w których renderują się poszczególne moduły*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*Stopka*@
    <footer class="border-top footer text-muted">
        <div class="container">
           <a> &copy; 2023 - Praca inzynierska Pawel Bagrowski </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
