@model EFinzynierka.Models.EmployeeModel
@{
    ViewData["Title"] = "EditScheduler";
}

<h1>EditSchedule</h1>

Wybierz miesiąc 

<form asp-controller="Employee" asp-action="DisplayScheduler" asp-route-id=@Model.IdEmployee
    method="get">


Month <select name="month">

@{
           for(int i = 0; i < 12; i++)
            {
                <option value="@System.Globalization.DateTimeFormatInfo.InvariantInfo.MonthNames[i]" id=@Model.IdEmployee>
                    @System.Globalization.DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
            }
            }
}
            
</select>

<p><input type="submit" value="Submit" /> </p>
        

</form>

@ViewBag.items
<br /

